

<html>
    <body>
        <img src="images/ASP-NET-Banners-01.png" />
        @("Hello World")
        <h2>The Dir is: </h2>
        <h3>@ViewBag.Dir</h3>
        <h2>The ContentRoot is: </h2>
        <h3>@ViewBag.ContentRoot</h3>
        <h2>The WebRoot is: </h2>
        <h3>@ViewBag.WebRoot</h3>
    </body>
</html>